[submodule "cpython"]
	path = cpython
	url = https://github.com/python/cpython.git
[submodule "wasix"]
	path = wasix
	url = git@github.com:yhdengh/wasix.git
[submodule "wabt"]
	path = wabt
	url = git@github.com:fix-project/wabt.git
