[submodule "cpython"]
	path = python/cpython
	url = https://github.com/python/cpython.git
[submodule "wabt"]
	path = wabt-tools/wabt
	url = https://github.com/fix-project/wabt.git
[submodule "clang-port/llvm-project"]
	path = clang-port/llvm-project
  url = https://github.com/fixpointOS/llvm-project.git
